<section class="lifetask-reward-card">
    <section class="lifetask-reward-card-header">
        <span>recompensa</span>
    </section>
    <section class="lifetask-reward-card-content">
        <section id="reward-title">
            <span class="title">Titulo</span>
            <input type="text" ng-model="$ctrl.title">
        </section>
        <section id="reward-description">
            <span class="title">Descrição</span>
            <textarea ng-model="$ctrl.description" rows="5"></textarea>
        </section>
        <section id="reward-value">
            <span class="title">Valor</span>
            <input type="number" min="0" ng-model="$ctrl.value">
        </section>
    </section>
</section>
<section id="save"
    ng-clieck="$ctrl.save()">
    <i class="material-icons">save</i>

</section>